<div>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
      <div class="max-w-3xl">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl">
            We are
            <br> 
            <span class="underline decoration-orange-500 inline-block">
                Blazed
            </span> 
            Labs
        </h1>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt="Party"
            src="https://blazed.sirv.com/logo/CityNight-Beaker.png"
            class="absolute inset-0 h-full w-full object-cover rounded-md shadow-sm"
          />
        </div>
  
        <div class="lg:py-16">
          <div class="space-y-4 text-gray-600">
            <div class="py-5">
                <p>
                    <span class="inline-flex text-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>
                    <span class="inline-flex text-2xl font-bold">
                        Blazing Hot Software
                    </span>
                </p>
                <p class="p-3 px-8">
                    Software solutions for desktop, mobile, and web. Cozy up with a nice fresh solution to warm the spirits.
                </p>
                <a href="https://blazed.software/" class="inline-flex p-3 m-5 ml-7 mt-2 px-6 mr-2 btn btn-outline gap-2">
                    Check it Out
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 pl-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </div>
            <div class="py-5">
                <p>
                    <span class="inline-block text-yellow-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                        </svg>
                    </span>
                    <span class="inline-flex text-2xl font-bold">
                        Interactive Magic
                    </span>
                </p>
                <p class="p-3 px-8">
                    Discover an experience like no other, we also build games and interactive experiences.
                </p>
                <a href="https://blazed.games/" class="inline-flex p-3 m-5 ml-7 mt-2 px-6 mr-2 btn btn-outline gap-2">
                    Check it Out
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 pl-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>