---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Learn more about Blazed Development Group."
	pubDate={new Date('August 08 2021')}
	heroImage="/blazed-banner-lg.png"
>

	<p>
		At Blazed Development Group (blazed.dev), we transform ideas into robust digital solutions. 
		As the "Develop" phase in the Blazed One Solution: Design, Develop, Publish, we specialize in crafting cutting-edge software that powers businesses worldwide.
	</p>
	<p>
		Backed by the expertise of Blazed Labs LLC, our team delivers custom software development, scalable web and mobile applications, and innovative digital tools tailored to your unique needs. 
		From concept to code, we bring your vision to life with precision, agility, and a focus on user experience.  
	</p>
	<h2>
		Our Mission
	</h2>
	<p>
		Empowering businesses with next-level software solutions that drive growth, efficiency, and success.  
	</p>

	<b>What We Offer:</b>
	<ul class="mb-8">
		<li>
			<b>Custom Software Development:</b> Tailored applications designed to fit your business.
		</li>
		<li>
			<b>Web & Mobile Solutions:</b> Scalable, responsive, and future-ready platforms.
		</li>
		<li>
			<b>Integration & Optimization:</b> Seamless integration of cutting-edge technology into your operations.
		</li>
		<li>
			<b>Continuous Support & Updates:</b> Ensuring your solutions evolve with your needs.
		</li>
	</ul>
	<hr />
	<div class="mt-5">
		<h2>
			Join Us on the Journey
		</h2>
		<p>
			Ready to elevate your business with innovative software? Let Blazed Development Group guide you through the development phase with unmatched expertise and dedication.
		</p>
		<p>
			<a href="/projects">Browse Projects</a>
		</p>
	</div>
<style>
	ul{
		margin-left: 20px;
	}
	ul li{
		list-style-type: circle;
	}
</style>
</Layout>
