---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
	<div>
		<section id="hero">
			<div class="container">
				<h2>
					Blazed Development
				</h2>
				<p>At Blazed Development Group, we transform ideas into innovative, custom software solutions that drive business success.</p>
				<a href="/about" class="btn">Learn More</a>
			</div>
		</section>	
	</div>
</Layout>
