<article>
    <h1 class="text-3xl font-bold px-20 lg:px-0 text-center py-10">
        Our Products
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 px-5 lg:px-10">
        <div *ngFor="let product of products">
            <a class="group inline-flex" href="{{ product.website }}">
                <div class="inline-flex card min-w-96 bg-base-100 shadow-xl">
                    <figure><img src="{{ product.image }}" alt="Shoes" /></figure>
                    <div class="card-body">
                    <h2 class="card-title group-hover:underline">
                        {{ product.name }}
                    </h2>
                    <p>
                        {{ product.description }}
                    </p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline group-hover:badge-secondary">
                            {{ product.category }}
                        </div>
                    </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</article>
<article>
    <blz-motto></blz-motto>
</article>