<div class="px-4 pt-3 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:h-screen">
        <div class="relative z-10 lg:py-16">
            <div class="relative h-64 sm:h-80 lg:h-full">
                <img
                    class="absolute inset-0 rounded-lg object-cover w-full h-full shadow-lg"
                    src="https://blazed.sirv.com/logo/interactive-ibis.png"
                    alt="Ibis interactive"
                />
            </div>
        </div>
        <div class="relative flex items-center bg-gray-100">
            <span class="hidden lg:inset-y-0 lg:absolute lg:w-16 lg:bg-gray-100 lg:block lg:-left-16"></span>
            <div class="p-8 sm:p-16 lg:p-24">
                <h3 class="text-2xl font-bold sm:text-3xl">
                    Contact Blazed Labs
                </h3>
                <p class="mt-4 text-gray-600">
                    Web:&nbsp;&nbsp;&nbsp; 
                    <a class="text-blue-600 hover:underline" href="https://blazed.contact/">General Inquiries</a> &nbsp;
                    <a class="text-blue-600 hover:underline" href="https://blazed.company/contact">Legal Inquiries</a>
                </p>
                <p class="mt-6 text-gray-800">
                    Email:
                    <a class="text-indigo-800 hover:underline" href="mailto:hello@blazed.space">
                    hello&#64;blazed.space
                    </a>
                </p>
                <p class="mt-2 text-gray-800">
                    Phone:
                    <a class="text-indigo-800 hover:underline" href="tel:+18557882348">
                    +1 (855) 788-2348
                    </a>
                </p>
                <div class="pt-5">
                    <a class="btn btn-outline btn-primary" href="https://blazed.contact/" target="_blank">
                        Get in Touch
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>