---
const today = new Date();
---

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 select-none">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
		&copy;{today.getFullYear()} <a href="https://blazedlabs.com/" target="_blank" class="hover:underline text-gray-600">Blazed Labs LLC</a>. All Rights Reserved.
      </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/about" class="hover:underline me-4 md:me-6">
				About
			</a>
        </li>
        <li>
            <a href="https://blazedlabs.com/privacy" class="hover:underline me-4 md:me-6">
				Privacy Policy
			</a>
        </li>
        <li>
            <a href="/projects" class="hover:underline me-4 md:me-6">
				Projects
			</a>
        </li>
        <li>
            <a href="/support" class="hover:underline">
				Support
			</a>
        </li>
    </ul>
    </div>
</footer>
<style>
	a {
		color:#333;
	}
	a:hover{
		text-decoration: underline;
	}
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		border-top:1px solid #a3a3a3;
		border-radius: 0;
		width:100%;
		max-width: 100%;
		margin:0;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
