---
import type { CollectionEntry } from 'astro:content';
import Layout from "@/layouts/Layout.astro";

type Props = CollectionEntry<'projects'>['data'];

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
	<div>
		<article>
			<div class="prose">
				<div class="title">
					<h1>{title}</h1>
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</div>
</Layout>
<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	@media screen and (max-width:720px) {
		main{
			margin:0;
			padding:0;
			width:100%;
			max-width: 100%;
		}
		.hero-image img {
			margin:0;
			border-radius:0;
		}
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
